body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    position: relative;
}

main {
    background-color: #141922;
    padding: 80px 0 120px;
}

main>.topbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: 70px;
    z-index: 99;
    line-height: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.5);
    padding-right: 50px;
}

main>.topbar>.button,
.topbar>.button a {
    transition: all linear 200ms;
}

.topbar>.button a{
    z-index: 99;
    padding: 5px 25px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    text-decoration: none;
}

.topbar>.button a:hover {
    color: springgreen;
}

.topbar>.button:hover {
    transform: scale(1.2);
}

#main-nav>ul {
    padding: 20px 0;
}

#main-nav>ul li {
    display: inline-block;
    list-style-type: none;
}

#main-nav>ul li a {
    padding: 5px 25px;
    text-decoration: none;
}

.neon-green {
    background-color: transparent;
    height: 2px;
    width: 0;
    transition: width 200ms ease-in;
}

#main-nav>ul>li a:hover {
    color: #fff;
}

#main-nav>ul>li a:hover .neon-green {
    background-color: springgreen;
    margin: auto;
    width: 50px;
}

.box {
    min-height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box img {
    width: 90%;
}

.box h3 {
    text-align: center;
    width: 90%;
}

footer {
    height: 80px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    right: 0;
    bottom: 0;
}

.halfimg {
    width: calc(100% / 6);
}

.container-20-fixed-left {
    position: fixed;
    left:0%;
    top:0;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}

aside {
    background-color: black;
    width: 100%;
    height: calc(100vh - 80px);
}

#logo {
    height: 70px;
    padding: 15px;
}

#logo img {
    width: 100%;
    height: 100%;
}

#aside-top-nav>ul {
    list-style-type: none;
    padding: 10px;
}

nav>ul>li {
    padding: 10px;
}

#aside-top-nav>ul>li {
    border-left: 2px solid transparent;
    transition: border-left 300ms ease-in;
}

#aside-top-nav>ul>li:hover {
    border-left: 2px solid springgreen;
}

nav>ul>li>a {
    color: gray;
}

nav>ul>li>a:hover {
    color: #fff;
}

nav>ul>li>a i {
    font-size: 20px;
    margin-right: 5px;
}

nav>ul>li>a:hover {

}

aside h3 {
    padding-left: 20px;
}

#add-playlist {
    padding: 10px 20px;
    align-items: center;
    line-height: 40px;
}

#add-playlist i {
    font-size: 40px;
    margin-right: 10px;
}

#add-playlist a:hover {
    color: white;
}

#add-playlist a:hover i {
    color: springgreen;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

#playlist-box {
    height: 100px;
    align-items: initial;
    padding:10px
}

#playlist-box nav ul li a:hover {
    color: #fff;
}

#track-info {
    width:100%;
    height: 100%;
}

.row#action-bar,
.row#progress-bar {
    height: 40px;
    width: 100%;
}

.row#action-bar i,
.row#progress-bar i {
    color: white;
    margin: 0 20px;
}

#action-bar i:not(:only-child) {
    font-size: 16px;
}

#action-bar i:only-child {
    font-size: 35px;
}

#action-bar i:hover {
    cursor: pointer;
    color: springgreen;
}

#action-bar i:only-child:hover{
    color: springgreen;
    transform: scale(1.2);
}

#progress-bar {
    position: relative;
}

#progress-bar [id$="bar"]{
    position: absolute;
    top: 50%;
    left:50%;
    border-radius: 12px;   
    height: 5px;
}

#empty-bar {
    background-color: #000;
    transform: translate(-50%, -50%);
    width: 100%;
}

#full-bar {
    background-color: #666; 
    transform: translate(-280%, -50%);
    width: 20%;
}

#progress-bar .dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: none;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translateY(-50%);
}

#progress-bar:hover .dot {
    display: inline-block;
    background-color: #bbb;    
}

#progress-bar .dot:hover {
    cursor: pointer;
    background-color: springgreen; 
}