body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    position: relative;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

main {
    background-color: #141922;
    padding: 80px 0 120px;
}

main>.topbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: 70px;
    z-index: 99;
    line-height: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.5);
    padding-right: 50px;
}

main>.topbar>.button,
.topbar>.button a {
    transition: all linear 200ms;
}

.topbar>.button a{
    z-index: 99;
    padding: 5px 25px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    text-decoration: none;
}

.topbar>.button a:hover {
    color: springgreen;
}

.topbar>.button:hover {
    transform: scale(1.2);
}

#main-nav>ul {
    padding: 20px 0;
}

#main-nav>ul li {
    display: inline-block;
    list-style-type: none;
}

#main-nav>ul li a {
    padding: 5px 25px;
    text-decoration: none;
}

.neon-green {
    background-color: transparent;
    height: 2px;
    width: 0;
    transition: width 200ms ease-in;
}

#main-nav>ul>li a:hover {
    color: #fff;
}

#main-nav>ul>li a:hover .neon-green {
    background-color: springgreen;
    margin: auto;
    width: 50px;
}

.box {
    min-height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box .imgcontainer {
    position: relative;
}

.box img {
    width: 90%;
    opacity:1;
    transition: 600ms ease-out;
}

.box i {
    display:none
}

.box:hover i {
    display: block;
    color: white;
    position:absolute;
    top: 50%;
    left: 50%;
    font-size: 80px;
    transform: translate(-60%, -50%);
    /* text-align: center; */
}

.box:hover i:hover {
    color: springgreen;
}

.box:hover {
    cursor: pointer;
}

.box:hover img {
    opacity:0.3;
}

.box h3 {
    text-align: center;
    width: 90%;
}

footer {
    height: 80px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    right: 0;
    bottom: 0;
}

.halfimg {
    width: calc(100% / 6);
}

.container-20-fixed-left {
    position: fixed;
    left:0%;
    top:0;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}

aside {
    position: relative;
    background-color: black;
    width: 100%;
    height: calc(100vh - 80px);
}

#logo {
    height: 70px;
    padding: 15px;
}

#logo img {
    width: 100%;
    height: 100%;
}

#aside-top-nav>ul {
    list-style-type: none;
    padding: 10px;
}

nav>ul>li {
    padding: 10px;
}

#aside-top-nav>ul>li {
    border-left: 2px solid transparent;
    transition: border-left 300ms ease-in;
}

#aside-top-nav>ul>li:hover {
    border-left: 2px solid springgreen;
}

nav>ul>li>a {
    color: gray;
}

nav>ul>li>a:hover {
    color: #fff;
}

nav>ul>li>a i {
    font-size: 20px;
    margin-right: 5px;
}

aside h3 {
    padding-left: 20px;
}

#add-playlist {
    padding: 10px 20px;
    align-items: center;
    line-height: 40px;
}

#add-playlist i {
    font-size: 40px;
    margin-right: 10px;
}

#add-playlist a:hover {
    color: white;
}

#add-playlist a:hover i {
    color: springgreen;
}

#playlist-box {
    height: 100px;
    align-items: initial;
    padding:10px
}

#playlist-box nav ul li a:hover {
    color: #fff;
}

#track-info {
    width:100%;
    height: 100%;
}

#track-info .container-player {
    height: 100%;
    width: 80px;
    padding: 10px;
}

.row#action-bar,
.row.progress-bar {
    height: 40px;
    width: 100%;
}

.row#action-bar i,
.row.progress-bar i {
    color: white;
    margin: 0 20px;
}

#action-bar i:not(:only-child) {
    font-size: 16px;
}

#action-bar i:only-child {
    font-size: 35px;
}

#action-bar i:hover {
    cursor: pointer;
    color: springgreen;
}

#action-bar i:only-child:hover{
    color: springgreen;
    transform: scale(1.2);
}

.progress-bar {
    position: relative;
    /* overflow-y: hidden; */
}

.progress-bar [class$="bar"]{
    position: absolute;
    top: 50%;
    left:50%;
    border-radius: 12px;   
    height: 5px;
}

.bar-container {
    width: 100%;
    /* overflow-y: hidden; */
}

.empty-bar {
    background-color: #000;
    transform: translate(-50%, -50%);
    width: 75%;
}

.full-bar {
    background-color: #666; 
    transform: translate(-190%, -50%);
    width: 20%;
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: none;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translateY(-50%);
}

.progress-bar:hover .dot {
    display: inline-block;
    background-color: #bbb;    
}

.progress-bar .dot:hover {
    cursor: pointer;
    background-color: springgreen; 
}

#track-info span {
    height:30px;
    position: absolute;
    font-size: 12px;
}

#track-info span:first-of-type {
    color: #fff;
}

#track-info span:first-of-type {
    position:absolute;
    top: 25px;
    left:5%;
    color: white;
}

#track-info span:nth-of-type(2) {
    position:absolute;
    top: 40px;
    left:5%;
    color: #bbb;
}

.timer:first-of-type {
    padding-right: 20px;
}

.timer span {
    color: white;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
}

#minisettings {
    position: relative;
    width: 100%;
}

#mini-settings i {
    color: white;
}

#mini-settings i:first-of-type {
    position:absolute;
    top: 50%;
    right: 15%;
    transform: translateX(-50%);
    transform: translate(-50%, -50%);
}

#mini-settings i:nth-of-type(2) {
    position:absolute;
    top: 50%;
    right: calc(15% - 40px);
    transform: translate(-50%, -50%);
}

#mini-settings i:nth-of-type(3) {
    position:absolute;
    top: 50%;
    right: calc(15% - 80px);
    transform: translate(-50%, -50%);
}

.volume-bar {
     width: 100%;
     height: 2px;
     background-color: #000;
     position: absolute;
     right:0;
     top:50%;
     transform: translateY(-50%);
     border-radius: 20px;
}

.volume {
    width: 75%;
    height: 2px;
    background-color:#aaa;
    position:absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20px;
}

.barcontainer {
    position: absolute;
    top: 50%;
    right:40px;
    transform: translateY(-50%);
    height: 40px;
    width: 100px;
}

.barcontainer:hover .dot {
    display: inline-block;
    background-color: #bbb;   
    left:65%; 
}

.barcontainer .dot:hover {
    cursor: pointer;
    background-color: springgreen; 
}

footer i {
    color: white;
}

#user-container {
    position: absolute;
    bottom: 0;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#user-container [class^="col"] {
    padding:5px;
    height:30px;
}

#user-container [class^="col"] i {
    margin-right: 10px;
}

#user-container [class^="col"]:first-of-type {
    font-size: 14px;
    color:#666;
    border-bottom: 1px solid #666;
}
#user-container [class^="col"]:nth-of-type(2) {
    color: white;
}

#user-container [class^="col"]:nth-of-type(2) i {
    background-color: #666;
    border-radius: 50%;
    padding: 5px;
    overflow: hidden;
}

#user-container [class^="col"]:first-of-type span:hover{
    cursor: pointer;
    color: #fff;
}

#user-container [class^="col"]:nth-of-type(2) span:hover {
    color: #00ff7f;
}

#user-container [class^="col"]:nth-of-type(2) span:hover,
#user-container [class^="col"]:nth-of-type(2) i:hover{
    cursor:pointer;
}